.app-container{
    flex-direction: column;
    text-align: center;
}
.border-gradient{
    border: 10px solid;
    border-image-slice: 1;
    border-width: 5px;
}

.border-gradient-purple{
    border-image-source: linear-gradient(to top, #dac339, #b09444);
}

.outer-card{
    width: 400px;
    height: 500px;
    background: #edc416;
}

.card-results{
    margin-top: 4rem;
}
.container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 5rem;
}

.description{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 0 60px;
    background-image: linear-gradient(to top, #dac339, #b09444);
    border: 2px solid #dac339;
    border-radius: 5px;
}

.description-item{
    margin: 3px;
    font-weight: 600;
    font-size: 12px;
}

.pokemonSpirite{
    background: tan;
    text-decoration: inherit;
    font-family: system-ui;
    font-size: 1rem;
    padding: .2rem .5rem;
    width: 60%;
}

.moves{
    font-size: 16px;
    font-weight: bolder;
    padding-top: 4px;
    text-transform: capitalize;
}

.pokemonName{
    color: black;
    font-weight: bolder;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 22px;
    text-transform: capitalize;
}

.move-item{
    border-bottom: 2px solid rgb(122, 122, 122);
    margin-top: 2px;
    margin-bottom: 2px;
}

.move-description{
    font-size: 12px;
}

//pokemon types
.innerCard{
    position: relative;
    width: 95%;
    height: 97%;
    margin: auto;
    margin-top: 2%;
}
.water {
    background-color: #1d8a81;
    background-image: url("../texture.png");
}
.fire{
    background-color: #e23b11;
    background-image: url("../texture.png"); 
}

.normal{
    background-color: #b6b6a8;
    background-image: url("../texture.png");  
}

.grass{
    background-color: #6ea541;
    background-image: url("../texture.png");  
}

.poison{
    background-color: #a3599b;
    background-image: url("../texture.png");  
}

.rock{
    background-color: #ccbb71;
    background-image: url("../texture.png");  
}

.psychic{
    background-color: #aa489f;
    background-image: url("../texture.png");   
}

.ice{
    background-color: #96f1ff;
    background-image: url("../texture.png");   
}

.dragon{
    background-color: #8975ff;
    background-image: url("../cream-dust.png");   
}

.bug{
    background-color: #c2d220;
    background-image: url("../texture.png"); 
}

.dark{
    background-color: #8c6754;
    background-image: url("../texture.png"); 
}

.fighting{
    background-color: #a85644;
    background-image: url("../texture.png");    
}

.ghost{
    background-color: #7975d7;
    background-image: url("../texture.png");    
}

.steel{
    background-color: #c2c1d7;
    background-image: url("../texture.png");   
}

.flying{
    background-color: #79a4ff;
    background-image: url("../texture.png");   
}

.electric{
    background-color: #fcec74;
    background-image: url("../texture.png");   
}

.fairy{
    background-color: #f8acff;
    background-image: url("../texture.png");   
}

.title {
    display: flex;
    flex-direction: row;
    justify-content: space-between; 
}

img.icon {
    width: 20px;
    height: 20px;
}

.HPIcon{
    display: flex;
    flex-direction: row;
}

.weakness{
    font-weight: 600;
    font-size: 12px;
}

.weakness-icon {
    width: 20px;
    height: 20px;
    display: inline-block;
}

.type-descriptions{
    display: flex;
    flex-wrap: wrap;
}

.type-group{ 
    width: 32%;
}
